@media screen and (max-width: 480px) {
  .profile-form {
    width: 100%;
  }

  .caption {
    font-size: 1.8rem;
  }

  .profile-form label {
    font-size: 1.6rem;
  }

  .select, .caption {
    width: 250px;
  }

  .exit-icon {
    width: 15px;
  }
}

@media screen and (min-width: 481px) {
  .profile-form {
    width: 85%;
  }

  .caption {
    font-size: 2.0rem;
  }

  .profile-form label {
    font-size: 1.8rem;
  }

  .select, .caption {
    width: 350px;
  }

  .exit-icon {
    width: 20px;
  }
}

@media screen and (min-width: 769px) {
  .profile-form {
    width: 70%;
  }

  .caption {
    font-size: 2.2rem;
  }

  .profile-form label {
    font-size: 2.0rem;
  }

  .select, .caption {
    width: 450px;
  }

  .exit-icon {
    width: 25px;
  }
}

.modal-overlay, .profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
}

.caption {
  font-family: 'Lato-Regular';
}

.profile-form label {
  font-family: 'Lato-Light';
}

.profile-form {
  max-height: 100vh;
  position: relative;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;
  background-color: white;
  border-radius: 5px;
  overflow: scroll;
}

.select {
  display: block;
}

.btn.submit {
  font-size: 1.8rem;
}

.btn.submit:active {
  border: 1px solid black;
}

.exit-icon {
  height: auto;
  position: absolute;
  left: 15px;
  top: 10px;
  cursor: pointer;
}