@media screen and (max-width: 480px) {
  .modal-container {
    width: 100%;
  }

  .select, .caption {
    width: 250px;
  }

  .exit-icon {
    width: 15px;
  }
}

@media screen and (min-width: 481px) {
  .modal-container {
    width: 85%;
  }

  .select, .caption {
    width: 350px;
  }

  .exit-icon {
    width: 20px;
  }
}

@media screen and (min-width: 769px) {
  .modal-container {
    width: 70%;
  }

  .select, .caption {
    width: 450px;
  }

  .exit-icon {
    width: 25px;
  }
}

.modal-overlay, .profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
}

.caption {
  margin: auto;
  margin-bottom: 20px;
}

.modal-container {
  max-height: 100vh;
  max-width: 750px;
  background-color: white;
  padding: 45px 0;
  position: relative;
  border-radius: 5px;
  overflow-y: scroll;
}

.profile-form {
  flex-direction: column;
  gap: 40px;
}

.select {
  display: block;
}

.btn.submit:active {
  border: 1px solid black;
}

.exit-icon {
  height: auto;
  position: absolute;
  left: 15px;
  top: 10px;
  cursor: pointer;
}