.how-it-works-container, .steps-list {
  display: flex;
  justify-content: center;
}

.how-it-works-container {
  text-align: center;
  flex-direction: column;
  padding: 15px 10px;
}

.how-it-works-container h1 {
  margin-bottom: 5px;
}

.steps-list {
  gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.step {
  max-width: 235px;
}

.step-number {
  padding: 10px;
  display: inline-block;
  border-bottom: 3px solid #33ffd6;
}
