@media screen and (max-width: 480px) {
  .how-it-works-container h1 {
    font-size: 2.2rem;
  }

  .step-number {
    font-size: 3.4rem;
  }

  .step-title {
    font-size: 1.6rem;
  }

  .step-body {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 481px) {
  .how-it-works-container h1 {
    font-size: 2.4rem;
  }

  .step-number {
    font-size: 3.6rem;
  }

  .step-title {
    font-size: 1.8rem;
  }

  .step-body {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 769px) {
  .how-it-works-container h1 {
    font-size: 2.6rem;
  }

  .step-number {
    font-size: 3.8rem;
  }

  .step-title {
    font-size: 2.0rem;
  }

  .step-body {
    font-size: 1.8rem;
  }
}

.how-it-works-container, .steps-list {
  display: flex;
  justify-content: center;
}

.how-it-works-container {
  text-align: center;
  flex-direction: column;
  padding: 15px 10px;
}

.how-it-works-container h1 {
  font-family: "Lato-Regular";
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.steps-list {
  gap: 40px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.step {
  max-width: 235px;
}

.step-number {
  font-family: 'Lato-Bold';
  padding: 10px;
  display: inline-block;
  border-bottom: 3px solid #33ffd6;
}

.step-title {
  font-family: 'Lato-Regular';
} 

.step-body {
  font-family: 'Lato-Light';
}