@media screen and (max-width: 480px) {
 .header-container {
    min-height: 245px;
    padding: 20px 25px;
 }

 .header-body {
    display: none;
 }

 button {
    margin-top: 35px;
    padding: 15px 40px;
    float: right;
 }
}

@media screen and (min-width: 480px) {
  .header-text-container {
    width: 364px;
  }

  button {
    margin-top: 10px;
    padding: 8px 25px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header-container {
    min-height: 460px;
    padding-top: 164px;
    padding-left: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    min-height: 600px;
    padding-left: 60px;
    padding-top: 220px;
    background-position: left center;
  }
}

.header-container {
  background-image: url("../../assets/photo-couch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

button {
  background-color:#33ffd6;
  border-radius: 25px;
  border-style: none;
  font-family: "Lato-Bold";
  cursor: pointer;
}

button:hover, button:active {
  background-color:#2b947f;
}

button:active {
  border: 1px solid white;
  transform: scale(0.98);
}

.header-title, .header-body {
  font-family: "Lato-Regular";
}

.header-statement {
  font-family: "Lato-Light";
}

.header-statement p:first-child {
  margin-bottom: 2px;
}

.header-statement p:last-child {
  margin-top: 2px;
}
