@media screen and (max-width: 480px) {
 .header-container {
    min-height: 245px;
 }

 .header-text-container {
    width: 82%;
    top: 5%;
 }

 .header-title {
    font-size: 1.4rem;
 }

 .header-statement {
    font-size: 2.4rem;
 }

 .header-body {
    display: none;
 }

 button {
    margin-top: 35px;
    padding: 15px 40px;
    right: 10px;
 }
}

@media screen and (min-width: 481px) {
  .header-container {
    min-height: 460px;
  }

  .header-text-container {
    width: 364px;
  }

  .header-title {
    font-size: 1.6rem;
  }

  .header-statement {
    font-size: 3.2rem;
  }

  .header-body {
    font-size: 1.4rem;
  }

  button {
    margin-top: 10px;
    padding: 8px 25px;
  }
}

@media screen and (min-width: 769px) {
  .header-container {
    background-position: left center;
  }

  .header-text-container {
    width: 400px;
  }

  .header-title {
    font-size: 1.8rem;
  }

  .header-statement {
    font-size: 3.4rem;
  }

  .header-body {
    font-size: 1.6rem;
  }
}

.header-container {
  flex-grow: 3;
  background-image: url("../../assets/photo-couch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.header-text-container, button {
  position: absolute;
}

.header-text-container {
  left: 10%;
  bottom: 25%;
}

button {
  background-color:#33ffd6;
  border-radius: 25px;
  border-style: none;
  font-family: "Lato-Bold";
  cursor: pointer;
  letter-spacing: 0.1em;
}

button:hover, button:active {
  background-color:#2b947f;
}

button:active {
  border: 1px solid white;
  transform: scale(0.98);
}

.header-title, .header-statement {
  font-family: "Lato-Light";
}

.header-body {
  font-family: "Lato-Regular";
  margin-top: 18px;
}

.header-statement p:first-child {
  margin-bottom: 2px;
}

.header-statement p:last-child {
  margin-top: 2px;
}

.header-statement p {
  margin: 5px 0;
}
