@font-face {
  font-family: "Lato-Black";
  src: url("./fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("./fonts/Lato-Thin.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html, body, #root, .app-container {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color:#33ffd6;
  border-radius: 25px;
  border-style: none;
  font-family: "Lato-Bold";
  cursor: pointer;
  letter-spacing: 0.1em;
}

.btn:hover, .btn:active {
  background-color:#2b947f;
}

.btn:active {
  transform: scale(0.98);
}
