* {
  box-sizing: border-box;
}

html, body, #root, .app-container {
  height: 100%;
}

body {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color:#33ffd6;
  border-radius: 25px;
  border-style: none;
  cursor: pointer;
  padding: 8px 25px;
}

.btn:hover, .btn:active {
  background-color:#2b947f;
}

.btn:active {
  transform: scale(0.98);
}
