@media screen and (max-width: 480px) {
 .header-container {
    min-height: 245px;
 }

 .header-text-container {
    width: 82%;
    top: 5%;
 }

 .header-body {
    display: none;
 }

 button {
    margin-top: 35px;
    padding: 15px 40px;
    right: 10px;
 }
}

@media screen and (min-width: 481px) {
  .header-container {
    min-height: 460px;
  }

  .header-text-container {
    width: 364px;
  }

  button {
    margin-top: 10px;
    padding: 8px 25px;
  }
}

@media screen and (min-width: 769px) {
  .header-container {
    background-position: left center;
  }

  .header-text-container {
    width: 400px;
  }
}

.header-container {
  flex-grow: 3;
  background-image: -webkit-image-set(
    "../../assets/photo-couch.jpg" 1x, 
    "../../assets/photo-couch_2x.jpg" 2x
  );
  background-image: image-set(
    "../../assets/photo-couch.jpg" 1x, 
    "../../assets/photo-couch_2x.jpg" 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.header-text-container, .btn.get-started {
  position: absolute;
}

.header-text-container {
  left: 10%;
  bottom: 25%;
}

.header-body {
  margin-top: 18px;
}

.header-statement p:first-child {
  margin-bottom: 2px;
}

.header-statement p:last-child {
  margin-top: 2px;
}

.header-statement p {
  margin: 5px 0;
}

.btn.get-started:active {
  border: 1px solid white;
}
